@import "tailwindcss";

@theme {
  --color-light-border: #e5e5e5;
  --color-input-border: #d1d5dc;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: var(--font-inter);
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}