@import "tailwindcss";

@theme {
  --color-light-border: #e5e5e5;
  --color-input-border: #d1d5dc;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: var(--font-inter);
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

/* Light slim scrollbar */
.slim-scrollbar {
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #e5e7eb transparent;
  /* thumb track */
}

.slim-scrollbar::-webkit-scrollbar {
  width: 2px;
  /* vertical */
  height: 2px;
  /* horizontal */
}

.slim-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.slim-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e5e7eb;
  /* light gray */
  border-radius: 9999px;
}

.slim-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #d1d5dc;
  /* slightly darker on hover */
}